@use '../variables' as *;
@use '../mixins' as *;

.consultation-steps-container {
  margin: rem(24) auto;
  background-color: $gray-50;
  width: 100%;
  padding: rem(64) rem(20);

  @include breakpoint-up(md) {
    padding: rem(80) rem(40);
  }

  .consultation-steps-heading {
    margin-bottom: rem(64);
    font-size: rem(30);
    line-height: rem(36);
    font-weight: $font-bold;
    text-align: center;
    color: $blue-550;

    @include breakpoint-up(md) {
      font-size: rem(40);
      line-height: 1;
    }
  }

  .consultation-steps-body {
    gap: rem(32);
    align-items: flex-start;

    @include breakpoint-up(lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: rem(48);
    }

    .consultation-steps-tiles-container {
      height: 100%;
      flex-direction: column;
      grid-area: 2 / 1 / 3 / 2;

      @include breakpoint-up(lg) {
        grid-area: 1 / 2 / 2 / 3;
      }

    }

    .rto-step-image {
      display: block;
      object-fit: cover;
      overflow: hidden;
      border-radius: rem(16);
      height: 100%;
      box-shadow: $shadow-lg;
    }
  }
}