@use '../variables' as *;
@use '../mixins' as *;

.cookies-consent {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(17, 24, 39, 0.55);
  padding: rem(16);

  .cookies-consent-card {
    width: 100%;
    max-width: rem(420);
    background: $white;
    border-radius: rem(8);
    box-shadow: $shadow-lg;
    border: rem(1) solid $red-100;

  }

  .cookies-consent-title {
    font-size: rem(24);
    font-weight: $font-semibold;
    color: $black-1;
    margin-bottom: rem(12);
    border-bottom: rem(1) solid $gray-400;
    padding: rem(20);
  }

  .cookies-consent-description {
    font-size: rem(14);
    color: $gray-700;
    padding:  0 rem(20);
  }

  .cookies-consent-actions {
    margin-top: rem(24);
    display: flex;
    gap: rem(12);
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 rem(20) rem(20) 0;
  }

  .cookies-consent-btn {
    min-width: rem(108);
    padding: rem(10) rem(18);
    border-radius: rem(9999);
    font-size: rem(14);
    font-weight: $font-medium;
    transition: all 0.25s ease;
    border: rem(1) solid transparent;
  }

  .cookies-consent-btn-reject {
    border-color: $gray-300;
    color: $gray-900;
    background: $white;

    &:hover {
      background: $gray-100;
      border-color: $gray-400;
    }
  }

  .cookies-consent-btn-accept {
    background: linear-gradient(180deg, $red-600 0%, $red-700 100%);
    color: $white;

    &:hover {
      background: linear-gradient(180deg, $red-700 0%, $red-800 100%);
      box-shadow: $shadowred-xs;
    }
  }
}
